

.boardWrap {
    position: relative;
}

.board {
    width: 300px;
    margin: 0 auto;
}

.tile {
    width: 98px;
    height: 98px;
    border: 1px solid black;
    float: left;
    cursor: pointer;
}